//base
$base-white: #FFFFFF;
$base-black: #000000;

//gray
$gray-25: #FFFFFF;
$gray-50: #F6F7F9;
$gray-100: #EFF2F5;
$gray-200: #DFE5EC;
$gray-300: #BFCCD9;
$gray-400: #9FB2C6;
$gray-500: #8099B3;
$gray-600: #4C6580;
$gray-700: #394C60;
$gray-800: #263340;
$gray-900: #131920;
$gray-1000: #0A0D10;

$d-gray-25: #0E1216;
$d-gray-50: #0A0D10;
$d-gray-100: #131920;
$d-gray-200: #263340;
$d-gray-300: #394C60;
$d-gray-400: #4C6580;
$d-gray-500: #8099B3;
$d-gray-600: #9FB2C6;
$d-gray-700: #BFCCD9;
$d-gray-800: #DFE5EC;
$d-gray-900: #EFF2F5;
$d-gray-1000: #FFFFFF;

//blue
$blue-25: #F5FAFF;
$blue-50: #E5F2FF;
$blue-100: #CCE5FF;
$blue-200: #99CAFF;
$blue-300: #66B0FF;
$blue-400: #3396FF;
$blue-500: #007BFF;
$blue-600: #0063CC;
$blue-700: #004A99;
$blue-800: #003166;
$blue-900: #001933;
$blue-1000: #000C1A;

$d-blue-25: #000D1A;
$d-blue-50: #001224;
$d-blue-100: #001933;
$d-blue-200: #003366;
$d-blue-300: #004C99;
$d-blue-400: #0066CC;
$d-blue-500: #0A85FF;
$d-blue-600: #3399FF;
$d-blue-700: #66B2FF;
$d-blue-800: #99CCFF;
$d-blue-900: #CCE5FF;
$d-blue-1000: #E5F2FF;

//cyan
$cyan-25: #F1FAFD;
$cyan-50: #E8F6FC;
$cyan-100: #D2EDF9;
$cyan-200: #A4DBF4;
$cyan-300: #77C8EE;
$cyan-400: #49B6E9;
$cyan-500: #32ADE6;
$cyan-600: #1683B6;
$cyan-700: #116288;
$cyan-800: #0B425B;
$cyan-900: #06212D;
$cyan-1000: #031017;

$d-cyan-25: #030D11;
$d-cyan-50: #00121A;
$d-cyan-100: #002533;
$d-cyan-200: #004966;
$d-cyan-300: #006E99;
$d-cyan-400: #0092CC;
$d-cyan-500: #64D3FF;
$d-cyan-600: #33C5FF;
$d-cyan-700: #66D4FF;
$d-cyan-800: #99E2FF;
$d-cyan-900: #CCF1FF;
$d-cyan-1000: #E5F8FF;

//red
$red-25: #FFF1F0;
$red-50: #FFE7E5;
$red-100: #FFCFCC;
$red-200: #FF9E99;
$red-300: #FF6E66;
$red-400: #FF3D33;
$red-500: #FF3A30;
$red-600: #CC0A00;
$red-700: #990800;
$red-800: #800700;
$red-900: #660500;
$red-1000: #330300;

$d-red-25: #120302;
$d-red-50: #1A0100;
$d-red-100: #330300;
$d-red-200: #660500;
$d-red-300: #990800;
$d-red-400: #CC0A00;
$d-red-500: #FF443A;
$d-red-600: #FF3D33;
$d-red-700: #FF6E66;
$d-red-800: #FF9E99;
$d-red-900: #FFCFCC;
$d-red-1000: #FFE7E5;

//green
$green-25: #F3FCF5;
$green-50: #EBFAEF;
$green-100: #D7F4DE;
$green-200: #AEEABD;
$green-300: #86DF9C;
$green-400: #5DD57B;
$green-500: #34C759;
$green-600: #2AA248;
$green-700: #207936;
$green-800: #155124;
$green-900: #0B2812;
$green-1000: #051409;

$d-green-25: #050F08;
$d-green-50: #051509;
$d-green-100: #092A11;
$d-green-200: #135323;
$d-green-300: #1C7D34;
$d-green-400: #25A746;
$d-green-500: #30D158;
$d-green-600: #58DA79;
$d-green-700: #82E39A;
$d-green-800: #ACECBC;
$d-green-900: #D5F6DD;
$d-green-1000: #EAFAEE;

//orange
$orange-25: #FFF9F0;
$orange-50: #FFF4E5;
$orange-100: #FFEACC;
$orange-200: #FFD599;
$orange-300: #FFBF66;
$orange-400: #FFAA33;
$orange-500: #FF9500;
$orange-600: #CC7700;
$orange-700: #995900;
$orange-800: #663C00;
$orange-900: #331E00;
$orange-1000: #1A0F00;

$d-orange-25: #110B03;
$d-orange-50: #1A0F00;
$d-orange-100: #331F00;
$d-orange-200: #663D00;
$d-orange-300: #995C00;
$d-orange-400: #CC7A00;
$d-orange-500: #FF9D0A;
$d-orange-600: #FFAD33;
$d-orange-700: #FFC266;
$d-orange-800: #FFD699;
$d-orange-900: #FFEBCC;
$d-orange-1000: #FFF5E5;

//purple
$purple-25: #F9F2FD;
$purple-50: #F5EAFB;
$purple-100: #EBD4F7;
$purple-200: #D8A9EF;
$purple-300: #C47EE7;
$purple-400: #B054DE;
$purple-500: #AF52DE;
$purple-600: #7D21AB;
$purple-700: #5E1881;
$purple-800: #3F1056;
$purple-900: #1F082B;
$purple-1000: #100415;

$d-purple-25: #0C0410;
$d-purple-50: #100218;
$d-purple-100: #21042F;
$d-purple-200: #42075F;
$d-purple-300: #620B8E;
$d-purple-400: #830FBD;
$d-purple-500: #BF5AF2;
$d-purple-600: #B642F0;
$d-purple-700: #C871F4;
$d-purple-800: #DBA0F8;
$d-purple-900: #EDD0FB;
$d-purple-1000: #F6E7FD;

//brown
$brown-25: #F9F8F5;
$brown-50: #F6F3EF;
$brown-100: #ECE6DF;
$brown-200: #DACEBE;
$brown-300: #C7B59E;
$brown-400: #B49D7E;
$brown-500: #A2855E;
$brown-600: #816A4B;
$brown-700: #614F38;
$brown-800: #413525;
$brown-900: #201A13;
$brown-1000: #100D09;

$d-brown-25: #0C0A08;
$d-brown-50: #100D09;
$d-brown-100: #211A12;
$d-brown-200: #423524;
$d-brown-300: #634F36;
$d-brown-400: #846A48;
$d-brown-500: #AC8E68;
$d-brown-600: #B79D7B;
$d-brown-700: #C9B59C;
$d-brown-800: #DBCEBD;
$d-brown-900: #EDE6DE;
$d-brown-1000: #F6F3EF;

//indigo
$indigo-25: #F3F3FC;
$indigo-50: #EBEAFA;
$indigo-100: #D6D6F5;
$indigo-200: #AEADEB;
$indigo-300: #8584E1;
$indigo-400: #5D5BD7;
$indigo-500: #5856D6;
$indigo-600: #2A28A4;
$indigo-700: #1F1E7B;
$indigo-800: #151452;
$indigo-900: #0A0A29;
$indigo-1000: #050515;

$d-indigo-25: #050410;
$d-indigo-50: #040316;
$d-indigo-100: #07072C;
$d-indigo-200: #0F0E58;
$d-indigo-300: #161485;
$d-indigo-400: #1E1BB1;
$d-indigo-500: #5E5CE6;
$d-indigo-600: #514EE4;
$d-indigo-700: #7C7AEB;
$d-indigo-800: #A8A7F1;
$d-indigo-900: #D3D3F8;
$d-indigo-1000: #E9E9FC;

//mint
$mint-25: #F0FFFE;
$mint-50: #E5FFFE;
$mint-100: #CCFFFC;
$mint-200: #99FFFA;
$mint-300: #66FFF7;
$mint-400: #33FFF5;
$mint-500: #00C7BD;
$mint-600: #00CCC2;
$mint-700: #009991;
$mint-800: #006661;
$mint-900: #003330;
$mint-1000: #001A18;

$d-mint-25: #060E0E;
$d-mint-50: #061413;
$d-mint-100: #0B2826;
$d-mint-200: #16504D;
$d-mint-300: #227773;
$d-mint-400: #2D9F99;
$d-mint-500: #66D4CF;
$d-mint-600: #60D2CC;
$d-mint-700: #88DDD9;
$d-mint-800: #AFE9E6;
$d-mint-900: #D7F4F2;
$d-mint-1000: #EBF9F9;

//pink
$pink-25: #FFF0F3;
$pink-50: #FFE5EA;
$pink-100: #FFCCD5;
$pink-200: #FF99AC;
$pink-300: #FF6682;
$pink-400: #FF3358;
$pink-500: #FF2D53;
$pink-600: #CC0025;
$pink-700: #99001C;
$pink-800: #660013;
$pink-900: #330009;
$pink-1000: #1A0005;

$d-pink-25: #100406;
$d-pink-50: #1A0005;
$d-pink-100: #33000A;
$d-pink-200: #660014;
$d-pink-300: #99001F;
$d-pink-400: #CC0029;
$d-pink-500: #FF375F;
$d-pink-600: #FF335C;
$d-pink-700: #FF6685;
$d-pink-800: #FF99AD;
$d-pink-900: #FFCCD6;
$d-pink-1000: #FFE5EB;

//teal
$teal-25: #F3FBFC;
$teal-50: #EAF8FA;
$teal-100: #D6F0F5;
$teal-200: #ADE2EB;
$teal-300: #84D3E1;
$teal-400: #5BC5D7;
$teal-500: #30B0C7;
$teal-600: #2892A4;
$teal-700: #1E6D7B;
$teal-800: #144952;
$teal-900: #0A2429;
$teal-1000: #051215;

$d-teal-25: #050E0F;
$d-teal-50: #041316;
$d-teal-100: #07262C;
$d-teal-200: #0E4D58;
$d-teal-300: #157384;
$d-teal-400: #1C99B0;
$d-teal-500: #40C8E0;
$d-teal-600: #4FCCE3;
$d-teal-700: #7BD9EA;
$d-teal-800: #A7E6F1;
$d-teal-900: #D3F2F8;
$d-teal-1000: #E9F9FB;

//yellow
$yellow-25: #FFFCF0;
$yellow-50: #FFFAE5;
$yellow-100: #FFF5CC;
$yellow-200: #FFEB99;
$yellow-300: #FFE066;
$yellow-400: #FFD633;
$yellow-500: #FFCC00;
$yellow-600: #CCA300;
$yellow-700: #997A00;
$yellow-800: #665200;
$yellow-900: #332900;
$yellow-1000: #1A1400;

$d-yellow-25: #120F02;
$d-yellow-50: #1A1500;
$d-yellow-100: #332B00;
$d-yellow-200: #665500;
$d-yellow-300: #998000;
$d-yellow-400: #CCAA00;
$d-yellow-500: #FFD60A;
$d-yellow-600: #FFDD33;
$d-yellow-700: #FFE666;
$d-yellow-800: #FFEE99;
$d-yellow-900: #FFF6CC;
$d-yellow-1000: #FFFBE5;