@import 'colors';
@import 'functions';

:root {
  --text-base: $gray-1000;
  --text-secondary: $gray-800;
  --text-light: $gray-600;
  --text-disable: $gray-400;
  --text-on-color: $base-white;
  --text-btn-primary-disable: $blue-200;
  --text-btn-secondary-default: $blue-500;
  --text-btn-secondary-hover: $blue-600;
  --text-btn-secondary-pressed: $blue-700;
  --text-btn-secondary-disable: $blue-200;
  --text-btn-tertiary-default: $gray-500;
  --text-btn-tertiary-hover: $gray-600;
  --text-btn-tertiary-pressed: $gray-700;
  --text-btn-tertiary-disable: $gray-300;
  --text-link: $cyan-500;
  --text-error: $red-500;
  --text-warning: $orange-500;
  --text-success: $green-500;

  --icon-on-color: $base-white;
  --icon-primary-default: $blue-500;
  --icon-primary-hover: $blue-600;
  --icon-primary-pressed: $blue-700;
  --icon-primary-disable: $blue-200;
  --icon-secondary-default: $blue-500;
  --icon-secondary-hover: $blue-600;
  --icon-secondary-pressed: $blue-700;
  --icon-secondary-disable: $blue-200;
  --icon-tertiary-default: $gray-500;
  --icon-tertiary-hover: $gray-600;
  --icon-tertiary-pressed: $gray-700;
  --icon-tertiary-disable: $gray-200;
  --icon-link: $cyan-500;
  --icon-error: $red-500;
  --icon-warning: $orange-500;
  --icon-success: $green-500;
  --icon-black: $gray-1000;
  --icon-black-only: $base-black;

  --bg-base: $gray-25;
  --bg-light: $gray-100;
  --bg-bright: $gray-200;
  --bg-contrast: $gray-300;
  --bg-additionaly: $gray-400;
  --bg-primary-default: $blue-500;
  --bg-primary-hover: $blue-600;
  --bg-primary-pressed: $blue-700;
  --bg-primary-disable: $blue-50;
  --bg-secondary-default: $blue-50;
  --bg-secondary-hover: $blue-100;
  --bg-secondary-pressed: $blue-200;
  --bg-secondary-disable: $blue-50;
  --bg-tertiary-default: $gray-500;
  --bg-tertiary-hover: $gray-600;
  --bg-tertiary-pressed: $gray-700;
  --bg-tertiary-disable: $gray-300;
  --bg-error: $red-500;

  --bg-st-cyan: $cyan-500;
  --bg-st-red: $red-500;
  --bg-st-green: $green-500;
  --bg-st-orange: $orange-500;
  --bg-st-purple: $purple-500;
  --bg-st-brown: $brown-500;
  --bg-st-indigo: $indigo-500;
  --bg-st-mint: $mint-500;
  --bg-st-pink: $pink-500;
  --bg-st-teal: $teal-500;
  --bg-st-yellow: $yellow-500;
  --bg-st-blue: $blue-500;

  --bg-sb-gray: rgba-color($gray-500, 0.10);
  --bg-sb-gray-l: rgba-color($gray-500, 0.05);
  --bg-sb-cyan: rgba-color($cyan-500, 0.10);
  --bg-sb-red:rgba-color($red-500, 0.10);
  --bg-sb-green:rgba-color($green-500, 0.10);
  --bg-sb-orange:rgba-color($orange-500, 0.10);
  --bg-sb-purple:rgba-color($purple-500, 0.10);
  --bg-sb-brown:rgba-color($brown-500, 0.10);
  --bg-sb-indigo:rgba-color($indigo-500, 0.10);
  --bg-sb-mint:rgba-color($mint-500, 0.10);
  --bg-sb-pink:rgba-color($pink-500, 0.10);
  --bg-sb-teal:rgba-color($teal-500, 0.10);
  --bg-sb-yellow:rgba-color($yellow-500, 0.10);
  --bg-sb-blue:rgba-color($blue-500, 0.10);

  --border-base: $gray-25;
  --border-light: $gray-100;
  --border-bright: $gray-200;
  --border-contrast: $gray-300;
  --border-additionaly: $gray-400;
  --border-primary-default: $blue-500;
  --border-primary-hover: $blue-600;
  --border-primary-pressed: $blue-700;
  --border-primary-disable: $blue-50;
  --border-secondary-default: $blue-50;
  --border-secondary-hover: $blue-100;
  --border-secondary-pressed: $blue-200;
  --border-secondary-disable: $blue-50;
  --border-tertiary-default: $gray-500;
  --border-tertiary-hover: $gray-600;
  --border-tertiary-pressed: $gray-700;
  --border-tertiary-disable: $gray-300;
  --border-error: $red-500;
  --border-green: $green-500;

  &[data-theme="dark"] {
    --text-base: $d-gray-1000;
    --text-secondary: $d-gray-800;
    --text-light: $d-gray-600;
    --text-disable: $d-gray-400;
    --text-on-color: $base-white;
    --text-btn-primary-disable: $d-blue-200;
    --text-btn-secondary-default: $d-blue-500;
    --text-btn-secondary-hover: $d-blue-600;
    --text-btn-secondary-pressed: $d-blue-700;
    --text-btn-secondary-disable: $d-blue-200;
    --text-btn-tertiary-default: $d-gray-500;
    --text-btn-tertiary-hover: $d-gray-600;
    --text-btn-tertiary-pressed: $d-gray-700;
    --text-btn-tertiary-disable: $d-gray-300;
    --text-link: $d-cyan-500;
    --text-error: $d-red-500;
    --text-warning: $d-orange-500;
    --text-success: $d-green-500;

    --icon-on-color: $base-white;
    --icon-primary-default: $d-blue-500;
    --icon-primary-hover: $d-blue-600;
    --icon-primary-pressed: $d-blue-700;
    --icon-primary-disable: $d-blue-200;
    --icon-secondary-default: $d-blue-500;
    --icon-secondary-hover: $d-blue-600;
    --icon-secondary-pressed: $d-blue-700;
    --icon-secondary-disable: $d-blue-200;
    --icon-tertiary-default: $d-gray-500;
    --icon-tertiary-hover: $d-gray-600;
    --icon-tertiary-pressed: $d-gray-700;
    --icon-tertiary-disable: $d-gray-200;
    --icon-link: $d-cyan-500;
    --icon-error: $d-red-500;
    --icon-warning: $d-orange-500;
    --icon-success: $d-green-500;
    --icon-black: $d-gray-1000;
    --icon-black-only: $base-black;

    --bg-base: $d-gray-25;
    --bg-light: $d-gray-100;
    --bg-bright: $d-gray-200;
    --bg-contrast: $d-gray-300;
    --bg-additionaly: $d-gray-400;
    --bg-primary-default: $d-blue-500;
    --bg-primary-hover: $d-blue-600;
    --bg-primary-pressed: $d-blue-700;
    --bg-primary-disable: $d-blue-50;
    --bg-secondary-default: $d-blue-50;
    --bg-secondary-hover: $d-blue-100;
    --bg-secondary-pressed: $d-blue-200;
    --bg-secondary-disable: $d-blue-50;
    --bg-tertiary-default: $d-gray-500;
    --bg-tertiary-hover: $d-gray-600;
    --bg-tertiary-pressed: $d-gray-700;
    --bg-tertiary-disable: $d-gray-300;
    --bg-error: $d-red-500;

    --bg-st-cyan: $d-cyan-500;
    --bg-st-red: $d-red-500;
    --bg-st-green: $d-green-500;
    --bg-st-orange: $d-orange-500;
    --bg-st-purple: $d-purple-500;
    --bg-st-brown: $d-brown-500;
    --bg-st-indigo: $d-indigo-500;
    --bg-st-mint: $d-mint-500;
    --bg-st-pink: $d-pink-500;
    --bg-st-teal: $d-teal-500;
    --bg-st-yellow: $d-yellow-500;
    --bg-st-blue: $d-blue-500;

    --bg-sb-gray: rgba-color($d-gray-500, 0.10);
    --bg-sb-gray-l: rgba-color($d-gray-500, 0.05);
    --bg-sb-cyan: rgba-color($d-cyan-500, 0.10);
    --bg-sb-red:rgba-color($d-red-500, 0.10);
    --bg-sb-green:rgba-color($d-green-500, 0.10);
    --bg-sb-orange:rgba-color($d-orange-500, 0.10);
    --bg-sb-purple:rgba-color($d-purple-500, 0.10);
    --bg-sb-brown:rgba-color($d-brown-500, 0.10);
    --bg-sb-indigo:rgba-color($d-indigo-500, 0.10);
    --bg-sb-mint:rgba-color($d-mint-500, 0.10);
    --bg-sb-pink:rgba-color($d-pink-500, 0.10);
    --bg-sb-teal:rgba-color($d-teal-500, 0.10);
    --bg-sb-yellow:rgba-color($d-yellow-500, 0.10);
    --bg-sb-blue:rgba-color($d-blue-500, 0.10);

    --border-base: $d-gray-25;
    --border-light: $d-gray-100;
    --border-bright: $d-gray-200;
    --border-contrast: $d-gray-300;
    --border-additionaly: $d-gray-400;
    --border-primary-default: $d-blue-500;
    --border-primary-hover: $d-blue-600;
    --border-primary-pressed: $d-blue-700;
    --border-primary-disable: $d-blue-50;
    --border-secondary-default: $d-blue-50;
    --border-secondary-hover: $d-blue-100;
    --border-secondary-pressed: $d-blue-200;
    --border-secondary-disable: $d-blue-50;
    --border-tertiary-default: $d-gray-500;
    --border-tertiary-hover: $d-gray-600;
    --border-tertiary-pressed: $d-gray-700;
    --border-tertiary-disable: $d-gray-300;
    --border-error: $d-red-500;
    --border-green: $d-green-500;
  }
}